.footer-list {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__white-text {
    color: getColor("white");
    font-size: 14px;
    margin-top: 20px;
    @extend %footer-list-extend;
  }
  &__mail-number {
    @extend %footer-list-extend;
    margin-top: 9px;
    margin-bottom: 9px;
    color: getColor("grey");
    text-decoration: none;
    &:hover {
      @extend %hover-color-blue-extend;
    }
  }
  &__logo {
    color: getColor("white");
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
  }
}
@media (min-width: 1200px) {
  .footer-list {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
