.header-mid {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 93px;
  gap: 46px;
  &__menu {
    text-decoration: none;
    color: getColor("primary");
    &:visited {
      color: getColor("primary");
    }
    &:hover {
      @extend %hover-color-blue-extend;
    }
  }
  &--current::after {
    display: block;
    width: 100%;
    height: 4px;
    background-color: getColor("main-blue");
    border-radius: 2px;
    content: "";
    position: relative;
    top: 32px;
  }
}
