.lorem-ipsum {
  box-sizing: border-box;
  padding: 60px 0;
}
@media (min-width: 768px) {
  .lorem-ipsum {
    padding: 60px 0 45px 0;
  }
}
@media (min-width: 1200px) {
  .lorem-ipsum {
    padding: 94px 0;
  }
}
