.newsletter {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 0;
  justify-content: center;
  &__container-form {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  &__sign-up {
    display: flex;
    justify-content: center;
    color: getColor("white");
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
  &__input {
    padding: 15px 16px;
    background-color: #2f303a;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    @include border(rgba(255, 255, 255, 0.3));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: getColor("white");
    height: 50px;
    width: 100%;
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  &__button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: getColor("white");
    background-color: getColor("main-blue");
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    margin: 36px auto 0 auto;
    padding: 10px 76px 10px 42px;
    cursor: pointer;
  }
  &__submit-svg {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 148px;
    top: 13px;
  }
}
@media (min-width: 1200px) {
  .newsletter {
    padding: 12px 0 34px 78px;
    &__container-form {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    &__sign-up {
      justify-content: flex-start;
    }
    &__input {
      width: 358px;
    }
    &__button {
      margin:0 0 0 12px;
      display: inline-block;
    }
  }
}
