.our-clients-container {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  &__image {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 92px;
    @include border(getColor("light-grey"));
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    &:hover {
      border-color: getColor("main-blue");
      transition: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 250ms;
      cursor: pointer;
      & .our-clients-container__icon {
        fill: getColor("main-blue");
        transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
        cursor: pointer;
      }
    }
  }
  &__icon {
    fill: getColor("light-grey");
    width: 106px;
    height: 60px;
  }
}
@media (min-width: 768px) {
  .our-clients-container {
    &__item {
      flex-basis: calc((100% - 60px) / 3);
    }
  }
}
@media (min-width: 1200px) {
  .our-clients-container {
    flex-wrap: nowrap;
  }
}
